* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

:root {

    --aqua: #5cd2b9;
    --gray: #abb8c3;
    --dark-gray: #151515;
}

h1 {
    font-size: 70px;
    width: 100%;
    line-height: 2ch;
    color: white;
}

p {
    line-height: 3ch;
    color: #a4a4a4;
}

p {
    width: 60%;
}

/* ---------------Start Navbar -----------*/
nav {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav img {
    width: 200px;
    margin: 20px 60px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
    transition: all .4s ease;
}

nav a:hover {
    color: var(--aqua);
}

nav .list {
    display: flex;
    padding: 20px;
    margin-left: 20px;
    align-items: center;
}

nav i {
    color: var(--aqua);
    margin-right: 80px;
    padding-left: 20px;
    transition: all .4s ease;
}

nav i:hover{
    color: white !important;
    cursor: pointer;
}

/*------------------- End Navbar ------------*/
/* =================Start header ============*/

.header {
    display: flex;
    background-color: #000000;
    background: linear-gradient(to left, rgb(12 54 51), rgb(0, 0, 0));
   position: relative;
   padding-top: 90px;
}
.header img {
    width: 100%;
    opacity: .7;
    height: 100%;
    padding-top: 20px;
}


.header .info {
    color: white;
    align-items: center;
    width: 80%;
    padding-left: 100px;
}
.header .info h1 {
    font-size: 60px;
    width: 100%;
}

.header .info h5 {
    margin: 30px 0 20px 0;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 700;

}

.header .info p {

    width: 80%;
}

.header h5,
h6,
span {
    color: var(--aqua);
}

.under-line {
    width: 100px;
    background-color: var(--aqua);
    height: 3px;
    margin: 20px 5px;
}

.header .under-header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.header .under-header h4 {
    margin-bottom: 20px;
    font-size: large;
}

.header .under-header h6 {
    font-size: large;
}

.header .under-header .play {
    width: 70px;
    height: 70px;
    background-color: var(--aqua);
    border-radius: 50%;
    margin-right: 30px;
    position: relative;
    transition: all .5s ease-in-out;
}

.header .under-header .play:hover{
    background-color: transparent;
    cursor: pointer;
}

.header .under-header .play i {
    position: absolute;
    color: white;
    top: 25px;
    left: 30px;
}

.header .under-header .play i:hover {
    color: var(--aqua);
}


/* ----------------------- End header ------------- */
/* ----------------------- Start SERVICES --------- */
.services {
    background-color: black;
    display: flex;
}

.services .info {
    width: 70%;
    padding: 100px;
}

.services .info h1 {
    width: 100%;
    font-size: 50px;
    font-weight: 900;
}

.services .info h6 {
    padding-bottom: 20px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

.services .info p {
    width: 100%;
}

.services button {
    margin-top: 30px;
    width: 100px;
    height: 50px;
    background-color: var(--aqua);
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.services button a {
    text-decoration: none;
    color: white;
}

.services button:hover {
    background-color: transparent;
    border-left: 3px solid var(--aqua);
    border-right: 3px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-bottom: 1px solid var(--aqua);
}


.R-info {
    display: flex;
    margin-top: 70px;
    margin-right: 100px;
}

.R-info img {
    width: 80px;
}

.R-info .detils {
    background-color: var(--dark-gray);
    margin: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
    padding-top: 30px;
}

.R-info .detils p {
    padding-left: 30px;
    width: 95%;
}

.RR {
    margin-top: 30px;
}

.shadow {
    background: linear-gradient(to top, rgb(12 54 51), rgb(0, 0, 0));
}

.R-info .detils h3 {
    color: white;
    font-weight: 900;
}

.R-info .detils:hover {
    background: linear-gradient(to top, rgb(12 54 51), rgb(0, 0, 0));
}

/*--------- -------start about -----------------*/
.about {
    background-color: #0c0c0c;
    display: flex;
    padding: 100px 50px 0 100px;
    height: 120vh;
}

.about h6 {
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

.about p {
    width: 90%;
}

.about h2 {
    color: white;
}

.about .U-about {
    display: flex;
    margin-top: 80px;
}

.about .U-about img {
    width: 70px;
    margin: -10px 15px 10px 10px;
    transition: all 0.5s ease-in-out;
}
.about  .UU-about:hover img{
    padding-top: 20px;
}

.about .UU-about {
    display: flex;
}

/* ------------END ABOUT----------- */
/* ----------------START first-slide-bar----- */
.first-slide-bar {
    display: flex;
    background: linear-gradient(to right, #096a4859, #00000080), url(images/1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px 0;
    background-attachment: fixed;
}

.first-slide-bar img {
    width: 80px;
}

.first-slide-bar h1 {
    font-size: 30px;
    font-weight: 900;
}

.first-slide-bar h1 span {
    font-size: 50px;
    padding: 4px;
}

.first-slide-bar h2 {
    color: white;
    font-size: 20px;
    padding-top: 8px;
}

/* ----------------END first-slide-bar----- */
/* ------------------START PROJECT-------------- */
.project {
    background-color: #000000;
    padding: 80px;
}

.project img {
    width: 400px;
    filter: brightness(0.5);
    transition: all 0.5s ease;
}
.project img:hover {
    filter: brightness(1);
}
.project .top-project {
    display: flex;
    margin-right: -6px;
    margin-bottom: 5px;
}

.project .bottom-project {
    display: flex;
}

.project h6 {
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

.project .top-project i {
    color: var(--aqua);
    padding-right: 15px;

}

.paragrah {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.project p {
    width: 90%;
}

/* ------------------END PROJECT-------------- */
/* -- ---------------START SECOND SLIDE BAR------------- -- */
.second-slide-bar {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
    background: linear-gradient(to right, #096a4859, #708783), url(images/side-view-portrait-of-a-woman-with-make-up-CTUMAUJ.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.second-slide-bar img {
    width: 200px;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.second-slide-bar img:hover {
    filter: grayscale(0%);
}

/* -- ---------------END SECOND SLIDE BAR------------- -- */

/* ---------------------START Experience------------------ */

.experience {
    display: flex;
    background-color: #000;
    padding: 120px;
}

.experience img {
    width: 100%;
}

.experience .left {
    width: 50%;
    margin: 20px;
}

.experience .right {
    width: 50%;
    padding-top: 65px;
}

.experience h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.experience h6 {
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

.experience p {
    width: 100%;
    font-size: 18px;
}

.experience i {
    background-color: var(--aqua);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    transition: all .5s ease;
    
}

.experience i:hover {
    background-color: transparent;
    color: var(--aqua);
}

.experience h5 {
    color: white;
    margin-left: 20px;
}

.experience .info {
    display: flex;
    margin: 20px 0;
}

.experience .L-IMG {
    margin-top: 90px;
}

.imge {
    position: relative;
}

.experience .play-b {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 299999;
    cursor: pointer;
}

.experience .play-b i {

    display: flex;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}

.experience .play-a {
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 299999;
    cursor: pointer;
}

.experience .play-a i {

    display: flex;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/* ---------------------END Experience------------------ */
/* -- ---------------------------START TEAM-------------------- */

.team {
    background-image: url(images/Bg-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center !important;
}

.team .top h3 {
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
    color: var(--aqua);
    padding-top: 80px;
}

.team .under-linee {
    width: 100px;
    background-color: var(--aqua);
    height: 3px;
    margin: 20px auto;
}

.team .top p {
    margin-left: 270px;
}

.continer {
    margin: 50px 100px 0 100px;
}

.team .continer img {
    width: 70%;
    filter: grayscale(100%);
}

.team .continer img:hover {
    filter: grayscale(0%);
}

.team .continer .row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
}

.team .continer .into-bot {
    display: flex;
    justify-content: space-between;
    width: 550px;
    background-color: rgb(0, 0, 0);
    align-items: center;
}

.into-bot h2 {
    color: white;
    padding-right: 40px;
}

.into-bot h3 {
    color: var(--aqua);
    padding: 20px 90px 20px 0;
}

.into-bot p {
    padding-right: 20px;
    width: 100%;
}

.into-bot .icon {
    display: flex;
    justify-content: space-between;
    color: var(--aqua);
    margin: 10px 20px;
    width: 60%;

}

.into-bot .icon i {
    transition: all 0.5s ease;
}

.into-bot .icon i:hover {
    cursor: pointer;
    padding-left: 5px;
    color: white;
}


/* ----------------END TEAM-------------- */


.word h3 {
    font-size: 30px;
    color: white;
}

.word span {
    color: var(--aqua);
}

.word hr {
    width: 60px;
    height: 2px;
    border: none;
    background-color: var(--aqua);
    margin-bottom: 20px;
    margin-top: 10px;
}

.word {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 650px;
}

.word p {
    
    text-align: center;
    font-size: 15px;
}

.pict {
    background-color: #0d0d0d;
    width: 100%;
    height: 1070px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    padding-top: 25px;
    padding-bottom: 25px;


}

.picc img {
    width: 250px;
    height: 250px;
    margin: 10px;
    filter: grayscale(100%);
    border-radius: 5px;
}

.picc img:hover {
    transform: scale(1.1);
    transition: all 0.8s ease;
    filter: grayscale(0%);
}


/* <!-- Start FIRST TESTIMONIALS --> */

.testimonials  {
    background-image: url(images/adadad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
}
.testimonials .Continer{
    padding: 50px;
}
.testimonials .Continer .row{
    display: flex;
    justify-content: space-between !important;
}
.testimonials .Continer .row .info{
    padding: 50px;
}
.testimonials .Continer .row .info h4{
    color: var(--aqua);
}
.testimonials .Continer .row .info h1{
   font-size: 45px;
   padding: 10px 0;
}
.testimonials .Continer .row .info .hr{
    width: 70px;
}
.testimonials .Continer .row .info p{
    padding: 10px 0 20px 0;
}
.testimonials .Continer .row .info button{
    background-color: var(--aqua);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.8s ease;
}
.testimonials .Continer .row .info button:hover{
    background-color: transparent;
    color: var(--aqua);
}

.testimonials .Continer .row .card{
    padding: 50px;
    background-color: #060606;
    opacity: .8;
    margin: 60px 0;
}
.testimonials .Continer .row .card p{
    width: 100%;
}
.testimonials .Continer .row .card .bot-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    
}
.testimonials .Continer .row .card img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.testimonials .Continer .row .card .into-bot-card {
    padding-right: 250px;
}
.testimonials .Continer .row .card .into-bot-card h4{
    color: white;
}
.testimonials .Continer .row .card .into-bot-card p{
    color: var(--aqua);
}
.testimonials .Continer .row .card i{
    color: var(--aqua);
    font-size: 60px;
    transition: all 0.3s ease;
}
.testimonials .Continer .row .card:hover i{
    padding-top: 15px;
}
/* <!-- End FIRST TESTIMONIALS --> */

/* <!-- START BLOG  --> */

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 8, 8);
   padding-bottom: 20px;
    width: 100%;
}
.blog .top {
    width: 100%;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    text-align: center;
margin-bottom: 40px;
}
.top h1 {
    font-size: 40px;
    color: white;
}
.top span {
    color: var(--aqua);
}
.top hr {
    width: 70px;
    height: 2px;
    border: none;
    background-color: var(--aqua);
    margin-bottom: 20px;
    margin-top: 10px;
}
 .blog .content {
    display: flex;
    justify-content: space-evenly;
}
 .content .card {
    width: 350px;
}
.content .card img {
    width: 100%;
    filter: brightness(.7);
    transition: all 0.5s ease;
}
.content .card img:hover {
    filter: brightness(1);

}
.content .card h4{
    color: var(--aqua);
    padding: 15px 0;
    font-size: 20px;
}
.content .card p {
    width: 100%;
}
.content .card .icon{
    display: flex;
    justify-content: space-around;
}
.content .card .icon i {
    color: var(--aqua);
    padding-right: 7px;
    transition: all 0.5s ease;
}
.content .card .icon h5{
    color: white;
}
.content .card .icon .into{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.content .card .icon .into:hover i{
color: #ffffff;
padding-top: 7px;
}
/* <!-- END BLOG  --> */


.last-testimonials {
    
 
    background-image: url(images/adadad.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
    
}
.last-testimonials .contener{
    padding:50px ;
}
.last-testimonials .contener .row{
    display: flex;
    justify-content: space-around;
}
form {
    width:40% ;
   height: 100%;
    border: 1px solid var(--aqua);
    padding: 40px;
    border-radius: 3px;
}
form p {
    color: var(--aqua);
    font-size: 15px;
}

form input {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 3px;
    border: 1px solid var(--aqua);
    ;
    background-color: #121212;
   
    padding-left: 10px;
}

form button {
    color: white;
    background-color: #0ea48e;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
form button:hover {
    background-color: transparent;
    color: var(--aqua);
    cursor: pointer;
}

.last-testimonials .contentt {
    width: 500px;
    margin-right: 100px;
    margin: 15px;
}

.last-testimonials .contentt p {
    font-weight: 10;
    font-size: 20px;
    margin-bottom: 25px;
    width: 100%;
}

.contentt hr {
    width: 100px;
    height: 2px;
    border: none;
    background-color: var(--aqua);
    margin-bottom: 25px;
    margin-top: 10px;
}

.contentt h1 {
    color: white;
    font-size: 60px;
}

.contentt span {
    color: var(--aqua);

}

.into {
    display: flex;
    flex-direction: column;
}
.into .card {
    display: flex;
    margin-bottom: 20px;
}

.into .card i {
    color: var(--aqua);
    padding-right: 20px;
    font-size: 40px;
    transition: all 0.5s ease-in-out;
}
.into .card:hover i{
    color: white;
    padding-top: 15px;
}
.into .card h4 {
    color: white;
    font-size: 25px;

}

.into .card h6 {
    color: var(--aqua);
    font-size: 16px;
    padding-top: 10px;

}


/* -----------------------------START FOOTER-------------- */
footer {
    background: radial-gradient(#012019, black);
    text-align: center;
    height: 80vh;
    width: 100%;
    padding: 100px 340px;
}

footer ul {
    display: flex;
}

footer li {
    list-style: none;
    padding: 20px 5px;
}

footer li a {
    text-decoration: none;
    color: var(--aqua);
    padding-left: 30px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Work Sans";
}
footer li a:hover {
    color: white;
}

footer p {
    color: white;
    padding-left: 80px;
    padding-bottom: 40px;
    width: 550px;
}


footer i {
    color: var(--aqua);
    padding-left: 30px;
    transition: all 0.5s ease-in-out;
}
footer .icon:hover i{
    color: white;
    padding-top: 15px;
}

footer .copyright {
    color: #a4a4a4;
    margin-top: 70px;
    padding-right: 700px;
    width: 1300px;
}